Django==1.4.3
BeautifulSoup==3.2.1
psycopg2==2.4.5
PIL==1.1.7
raven==3.1.0
ipython>=0.13.1
python-memcached==1.48
South==0.7.6
fabric==1.5.1
easy_thumbnails==1.1
pyjade==1.6
django_compressor==1.2
django-filer==0.9.2
Markdown==2.2.1
pygments==1.5
django-markitup==1.0.0
django-typogrify==1.3
